﻿@model Ekleft.VendingMachine.UI.Model.IndexModel
@using Ekleft.VendingMachine.UI.Services


@{
    ViewBag.Title = "Тестовое задание Алексея Поликарпова";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>Тестовое задание Алексея Поликарпова</h2>
@if (TempData[KeysConstants.ErrorMessageKey] != null)
{
    <div class="alert alert-danger">@TempData[KeysConstants.ErrorMessageKey]</div>
}

@if (TempData[KeysConstants.SuccessMessageKey] != null)
{
    <div class="alert alert-success">@TempData[KeysConstants.SuccessMessageKey]</div>
}


<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">Информация о пользователе</div>
            <div class="panel-body">
                <div>
                    <strong>UserId:</strong> @Model.User.Id
                </div>
                <div>
                    <strong>Монеты:</strong>
                </div>
                <div class="row">
                    @foreach (var coin in Model.User.Coins)
                    {
                        <form action="@Url.Action("PutCoin", "Machine",new {CoinValue = coin.CoinValue})" method="post" class="col-xs-6">
                            <div>
                                <button type="submit" class="btn btn-default" @(coin.Count < 1 ? "disabled" : "")>
                                    @coin.CoinValue руб. (@coin.Count шт.)
                                </button>
                                <button type="submit" @(coin.Count <1 ? "disabled" : "") class="btn btn-link">Внести</button>
                            </div>
                            <br />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">Информация о торговом автомате</div>
            <div class="panel-body">
                <div>
                    <strong>Внесенная сумма:</strong> @Model.VendingMachine.DepositedAmount руб.
                    <form action="@Url.Action("PayBack", "Machine")" method="post">
                        <button type="submit" class="btn btn-default" @(Model.VendingMachine.DepositedAmount < 1 ? "disabled" : "")>
                            Вернуть сдачу
                        </button>
                    </form>
                </div>
                <div>
                    <strong>Товары:</strong>
                </div>
                <div class="row">
                    @foreach (var product in Model.VendingMachine.Products)
                    {
                        <form action="@Url.Action("BuyProduct", "Machine", new { ProductId = product.Id})" method="post" class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">@product.Name</div>
                                <div class="panel-body">
                                    <div>
                                        <strong>Стоимость</strong>:
                                        @product.Cost руб.
                                    </div>
                                    <div>
                                        <strong>Количество</strong>:
                                        @product.Count
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-default" @(product.Count < 1 ? "disabled" : "")>
                                            Купить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
                <div>
                    <strong>Монеты:</strong>
                </div>
                <div class="row">
                    @foreach (var coin in Model.VendingMachine.Coins)
                    {
                        <div class="col-xs-6">
                            <div>
                                <button type="button" class="btn btn-default disabled">
                                    @coin.CoinValue руб. (@coin.Count шт.)
                                </button>
                            </div>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>